# Prerequisites
*.d

# my vim is broken
*.swp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
webserv

# Jetbrains IDE files
.idea

# Cmake build dir
cmake-build*/
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Clangd index cache dir
.cache/

# Compile commands
compile_commands.json

# mathijs' personal access token (very good and secure)
.pat
